.bodyrestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.bodyrestaurants .menu-image {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60vw;
}
.bodyrestaurants .menu-image img {
  width: 100%;
}
.bodyrestaurants .menusrestaurants {
  position: relative;
  margin-top: -40px;
  background-color: var(--color-back-body);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.bodyrestaurants .menusrestaurants .platsRestaurants {
  margin-left: 10px;
  margin-right: 10px;
}
.bodyrestaurants .menusrestaurants .platsRestaurants h4 {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 2px green;
  padding-bottom: 5px;
  width: 50px;
  font-weight: lighter;
}
.bodyrestaurants .menusrestaurants .platsRestaurants .plats {
  background-color: var(--color-body-origine);
  width: 100%;
  height: 55px;
  border-radius: 20px;
  line-height: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 3px;
  cursor: pointer;
  margin-right: 5px;
}
.bodyrestaurants .menusrestaurants .platsRestaurants .plats-title-h3,
.bodyrestaurants .menusrestaurants .platsRestaurants .plats-title-p {
  margin-top: 5px;
  padding-top: 1px;
  font-size: medium;
  line-height: 11px;
  padding-left: 10px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* Opera < 10 */
  text-overflow: ellipsis;
}
.bodyrestaurants .menusrestaurants .platsRestaurants .prixplats {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -6px;
  padding-bottom: 10px;
  padding-right: 10px;
}
.bodyrestaurants .menusrestaurants .platsRestaurants .plats-valide .fa-check {
  display: none;
}
.bodyrestaurants .menusrestaurants .titlerestaurants {
  font-size: 0.8em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 12px;
  font-style: italic;
  font-family: "Shrikhand";
}
.bodyrestaurants .menusrestaurants .titlerestaurants .icone-Coeurvide1 {
  width: 60px;
  float: right;
  padding-top: 20px;
  padding-left: 20px;
}
.bodyrestaurants .menusrestaurants .titlerestaurants .icone-Coeurvide1 .fa-solid {
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: -32px;
  color: transparent;
  opacity: 0;
  transition: all 50ms ease-in-out;
}
.bodyrestaurants .menusrestaurants .titlerestaurants .icone-Coeurvide1 :hover .fa-solid:active {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .bodyrestaurants {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .bodyrestaurants .menu-image {
    width: 100vw;
    height: 30vw;
    object-fit: cover;
  }
  .bodyrestaurants .titlerestaurants {
    font-family: "Shrikhand";
    font-weight: 300;
  }
  .bodyrestaurants .titlerestaurants .icone-Coeurvide {
    margin-left: 80px;
    height: 50px;
  }
  .bodyrestaurants .titlerestaurants .icone-Coeurvide1 {
    float: left;
    margin-left: -160px;
    margin-right: 50px;
    font-weight: 300;
  }
  .bodyrestaurants .menusrestaurants {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-top: -40px;
    width: 70%;
    height: 100%;
    padding: 40px;
  }
  .bodyrestaurants .platsRestaurants {
    display: grid;
    align-items: center;
    width: 90%;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .bodyrestaurants .platsRestaurants .plats:hover .plats-valide {
    margin-right: 0;
  }
  .bodyrestaurants .plats-title-h3,
  .bodyrestaurants .plats-title-p {
    margin-top: 5px;
    padding-top: 1px;
    font-size: medium;
    line-height: 11px;
    padding-left: 10px;
    overflow: visible;
  }
}/*# sourceMappingURL=bodyrestaurants.css.map */