footer{
    display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      width: 100%;
      padding-bottom: 20px;
      margin-top : 50px;
      padding-right: 250px;
      background-color: #353434;
      color:white;
     
      
    .imglogobas{
      width: 100px;
      height: 30px;
      margin-top: 5px;
      margin-bottom: 5px;
      margin-left : 15px;
      color : white;
      
    }
    .footer-content{
      flex-direction: column;  
  }
    .footer-content a:hover{
      text-decoration: none;
  }
    .list{
      margin-right: 25px;  
  }
  
  ul{
      justify-content: flex-start;
      padding-left: 20px;
  }
  li{
      list-style: none;
      padding-bottom: 10px; 
  }
    i{
          margin-right: 8px;
        }
  }
  
  
  