header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-header);
  .imglogohaut {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .searchcity {
    background-color: var(--color-back-body);
    box-shadow: inset 0em 0.5em 0.5em var(--color-shadow);
    width: 100%;
    height: 40px;
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-style: normal;
    color: var(--color-police-text);
    margin: 0;
    padding: 0.75rem;
    font-size: medium;
    .logoposition {
      margin-right: 10px;
      padding-top: 10px;
    }
  }
}
