.bodyrestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  .menu-image {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 60vw;
    img {
      width: 100%;
    }
  }
  @media only screen and (min-width: 1024px) {
    display: grid;
    justify-content: center;
    justify-items: center;
    .menu-image {
      height: 30vw;
      object-fit: cover;
    }
    &,
    footer {
      margin-bottom: 39px;
    }
  }
}
