.Restaurants-cardsNew {
  @media only screen and (min-width: 1024px) {
    h2 {
      display: flex;
      margin-left: 8%;
    }
    .cards {
      width: 85%;
      height: 310px;
      margin-top: 50px;
      margin-bottom: 50px;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      img {
        height: 250px;
      }
      .boutonnouveau {
        margin-left: 325px;
        font-size: small;
        width: 70px;
        height: 20px;
      }
    }
    .directionrCards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 10px;
      row-gap: 15px;
      margin-top: 20px;
      .cards {
        margin-left: -25px;
        margin-right: 50px;
      }
    }
  }
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 80px;
  margin-left: 0px;
  width: 100%;
  background-color: var(--color-header);
  padding-bottom: 50px;
  margin-bottom: 0;
  .title {
    display: flex;
    justify-content: flex-start;
    font-size: x-large;
    font-weight: bold;
    padding-left: 10px;
    max-width: 100vw;
  }
}
.directionrCards {
  display: flex;
  flex-direction: column;
  margin-left: -130px;
  margin-top: 10px;
  width: 100vw;
}
.cards {
  background-color: var(--color-body-origine);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 50px;
  width: 98%;
  height: 250px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: -8px;
  img {
    width: 100%;
    height: 190px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
  }
  .boutonnouveau {
    top: 15px;
    right: 15px;
    padding-top: 6px;
    position: absolute;
    width: 80px;
    height: 25px;
    background-color: var(--color-tertiaire);
    color: var(--color-texte-boutonnouveau);
    text-align: center;
    font-size: small;
  }
  a {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-police-text);
  }
  .card-content {
    justify-content: space-between;
    padding-left: 5px;
    .card-txt {
      height: 50px;
      color: var(--color-police-text);
      padding-left: 5px;
    }
    .card-title {
      height: 10px;
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: large;
      font-weight: bold;
    }
    .card-subtitle {
      font-size: medium;
      margin-top: 15px;
      padding-left: 0;
    }
  }
  .icone-Coeurvide {
    display: flex;
    float: right;
    /*width: 30px;
  height: 30px;*/
    margin-top: -40px;
    font-size: 20px;
    margin-right: 10px;
    .fa-solid {
      background-image: linear-gradient(#ff79da, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;
      margin-left: -20px;
      color: transparent;
      opacity: 0;
      transition: all 50ms ease-in-out;
    }
    &:hover {
      .fa-solid {
        &:active {
          opacity: 1;
        }
      }
    }
  }
}
