.cards {
  .icone-Coeurvide {
    display: flex;
    float: right;
    margin-top: -40px;
    font-size: 20px;
    margin-right: 10px;
    .fa-solid {
      background-image: linear-gradient(#ff79da, #9356dc);
      background-clip: text;
      -webkit-background-clip: text;
      margin-left: -20px;
      color: transparent;
      opacity: 0;
      transition: all 50ms ease-in-out;
      &:active {
        opacity: 1;
      }
    }
  }
}
