.menusrestaurants {
  position: relative;
  margin-top: -40px;
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
  .titlerestaurants {
    font-size: 0.9em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 12px;
    font-style: italic;
    font-family: "Shrikhand";
    .icone-Coeurvide1 {
      width: 60px;
      float: right;
      padding-top: 20px;
      padding-left: 20px;
      font-size: 25px;
      .fa-solid {
        background-image: linear-gradient(#ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        margin-left: -32px;
        color: transparent;
        opacity: 0;
        transition: all 50ms ease-in-out;
      }
      &:hover .fa-solid:active {
        opacity: 1;
      }
    }
  }
  .platsRestaurants {
    margin-left: 10px;
    margin-right: 10px;
  }
  @media only screen and (min-width: 1024px) {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-top: -30px;
    width: 70%;
    height: 100%;
    padding: 68px;
    .titlerestaurants {
      font-family: "Shrikhand";
      font-weight: 300;
      .icone-Coeurvide1 {
        float: left;
        margin-left: -160px;
        margin-right: 50px;
        font-weight: 300;
      }
    }
    .titlerestaurants,
    .icone-Coeurvide {
      margin-left: 80px;
      height: 50px;
    }
    .titlerestaurants,
    .icone-Coeurvide1 {
      justify-content: space-evenly;
    }
    .platsRestaurants {
      .plats {
        &:hover {
          .plats-valide {
            margin-top: -73px;
            right: -62px;
            margin-right: 2px;
          }
        }
      }
    }
  }
}
.menusrestaurants,
footer {
  padding-top: 0;
  margin-bottom: -50px;
}
