$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiaire: #99e2d0;
$color-placeholder-header: #d3d3d3;
$color-back-body: #e5e7e9;
$color-police-text: #000;
$color-body-origine: #fff;
$color-header: #f0f0f2;
$color-shadow: #85929e;
$color-shadow-reservation: #cacfd2;
$color-icones: grey;
$color-texte-boutonnouveau: green;
$color-footer: #353434;
