* {
  font-family: "Raleway", sans-serif;
}

:root {
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiaire: #99e2d0;
  --color-placeholder-header: #d3d3d3;
  --color-back-body: #e5e7e9;
  --color-police-text: #000;
  --color-body-origine: #fff;
  --color-header: #f6f6f6;
  --color-shadow: #85929e;
  --color-shadow-reservation: #cacfd2;
  --color-footer: #353434;
  --color-icones: grey;
  --color-texte-boutonnouveau: green;
  --color-footer: #353434;
  --color-loader-text: #1e90ff;
}

body {
  background-color: var(--color-body-origine);
  margin: 0;
}
body .logoposition {
  font-family: "Shrikhand";
}
body p {
  font-family: "Roboto";
}
body h1 {
  font-weight: bold;
}

/*loader chargement*/
.loader {
  z-index: 100;
  position: fixed;
  animation: loadercercle 1s forwards;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(50deg, #99e2d0, #9356dc, #ff79da, #99e2d0);
}
.loaderConteneur {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loaderConteneurChargement {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../../assets/images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(100%);
  width: 200px;
  height: 40px;
}
.loaderConteneurChargement::before {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: green;
  width: 280px;
  height: 280px;
  animation: cercle 800ms linear infinite;
}
.loaderConteneurChargement::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 7px solid transparent;
  border-top-color: green;
  width: 250px;
  height: 250px;
  animation: cercle 900ms linear reverse infinite;
}
.container {
  display: grid;
  grid-template-columns: 14px 1fr 14px;
  grid-template-rows: 1fr auto;
  position: relative;
}
@keyframes cercle {
  from {
    transform: rotate(360deg);
    opacity: 1;
  }
  to {
    transform: rotate(0deg);
    opacity: 0.3;
  }
}
@keyframes loadercercle {
  to {
    visibility: hidden;
    display: none;
  }
}
/*header homepage*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-header);
}
header .imglogohaut {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
header .searchcity {
  background-color: var(--color-back-body);
  box-shadow: inset 0em 0.5em 0.5em var(--color-shadow);
  width: 98%;
  height: 40px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-style: normal;
  color: var(--color-police-text);
  margin: 0;
  padding: 0.75rem;
  font-size: medium;
}
header .searchcity .logoposition {
  margin-right: 10px;
  padding-top: 10px;
}
header,
.reservation {
  margin-top: 0;
}
/*section réservation*/
.reservation {
  width: 100%;
  height: 260px;
  background-color: var(--color-header);
  text-align: center;
}
.reservation .exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.reservation .exploration .titleexploration {
  font-size: medium;
}
.reservation .exploration p {
  margin-top: 0px;
}

.reservation .exploration .btn-Explorer {
  width: 230px;
  height: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 1.5em;
  padding: 10px 12px 10px 12px;
  color: var(--color-body-origine);
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 5px 3px 5px var(--color-shadow-reservation);
  text-align: center;
  padding-top: 8px;
  margin-bottom: 10px;
} /*# sourceMappingURL=homepage.css.map */
/*section fonctionnement*/
.Fonctionnement .Orientationalignement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-left: -10px;
  gap: 15px;
  padding-bottom: 0;
}
.Fonctionnement .Title {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  padding-left: 12px;
}

.Fonctionnement .alignement .chiffre {
  position: absolute;
  z-index: 1;
  padding-top: 4px;
  font-size: large;
  color: var(--color-body-origine);
  background-color: var(--color-primary);
  text-align: center;
  border-radius: 100px;
  margin-top: 32px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  padding: 1px;
}
.Fonctionnement .alignement .btnPaintMenu {
  position: relative;
  text-align: center;
  width: 280px;
  height: 65px;
  background-color: var(--color-header);
  color: var(--color-police-text);
  border-radius: 20px;
  border: none;
  padding: 10px 12px 10px 12px;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.1));
  margin-top: 10px;
  margin-left: 15px;
  cursor: pointer;
}
.Fonctionnement .alignement i {
  margin-right: 15px;
  color: var(--color-icones);
}
.Fonctionnement .alignement .fa-store {
  color: var(--color-primary);
}
.Fonctionnement .alignement .btnPaintMenu:hover {
  opacity: 2;
  background-color: #fff;
  transition: all 50ms ease-in-out;
}
/*.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  
}
/*section cards restaurants*/

.Restaurants-cardsNew {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 80px;
  margin-left: 0px;
  width: 100%;
  background-color: var(--color-header);
  padding-bottom: 50px;
  margin-bottom: 0;
}

.Restaurants-cardsNew .title {
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  font-weight: bold;
  padding-left: 10px;
  max-width: 100vw;
}

.directionrCards {
  display: flex;
  flex-direction: column;
  margin-left: -130px;
  margin-top: 10px;
  width: 100vw;
}
.cards {
  background-color: var(--color-body-origine);
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 50px;
  width: 98%;
  height: 250px;
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  margin-left: -8px;
}
.cards img {
  width: 100%;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.cards .boutonnouveau {
  top: 15px;
  right: 15px;
  padding-top: 6px;
  position: absolute;
  width: 80px;
  height: 25px;
  background-color: var(--color-tertiaire);
  color: var(--color-texte-boutonnouveau);
  text-align: center;
  font-size: small;
}

.cards a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-police-text);
}

.cards .card-content {
  justify-content: space-between;
  padding-left: 5px;
}
.cards .card-content .card-txt {
  height: 50px;
  color: var(--color-police-text);
  padding-left: 5px;
}
.cards .card-content .card-title {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: large;
  font-weight: bold;
}
.cards .card-content .card-subtitle {
  font-size: medium;
  margin-top: 15px;
  padding-left: 0;
}
.cards .icone-Coeurvide {
  display: flex;
  float: right;
  /*width: 30px;
  height: 30px;*/
  margin-top: -40px;
  font-size: 20px;
  margin-right: 10px;
}
.cards .icone-Coeurvide .fa-solid {
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: -20px;
  color: transparent;
  opacity: 0;
  transition: all 50ms ease-in-out;
}
.cards .icone-Coeurvide:hover .fa-solid:active {
  opacity: 1;
}
/*footer*/
footer {
  /*width: 100%;*/
  padding-bottom: 20px;
  margin-top: 50px;
  padding-right: 10px;
  background-color: var(--color-footer);
  color: var(--color-body-origine);
}

footer .imglogobas {
  width: 120px;
  height: 30px;
  margin-top: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
}

footer .footer-content {
  flex-direction: column;
  margin-right: 100px;
  font-family: "Roboto", sans-serif;
  position: relative;
}
footer a {
  text-decoration: none;
  color: white;
}

footer a:active {
  text-decoration: none;
  color: white;
  cursor: pointer;
  /*transition: all 50ms ease-in-out;*/
}

footer .list {
  margin-right: 25px;
}
footer ul {
  justify-content: flex-start;
  padding-left: 20px;
}

footer li {
  list-style: none;
  padding-bottom: 10px;
}
footer i {
  margin-right: 9px;
}
/*# sourceMappingURL=footer.css.map */
/*************************************************************************/
/*VERSION CSS PAGE RESTAURANTS*/
.headerrestaurants {
  flex-direction: row;
  justify-content: center;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
}
.headerrestaurants .fa-arrow-left {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #000;
}
.headerrestaurants .imglogohaut {
  display: flex;
  width: 150px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.bodyrestaurants .menu-image {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 60vw;
}
.bodyrestaurants .menu-image img {
  width: 100%;
}
.bodyrestaurants {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.menusrestaurants {
  position: relative;
  margin-top: -40px;
  background-color: #f6f6f6;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.menusrestaurants .titlerestaurants {
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 12px;
  font-style: italic;
  font-family: "Shrikhand";
}
.menusrestaurants .titlerestaurants .icone-Coeurvide1 {
  width: 60px;
  float: right;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 25px;
}

.menusrestaurants .titlerestaurants .icone-Coeurvide1 .fa-solid {
  background-image: linear-gradient(#ff79da, #9356dc);
  background-clip: text;
  -webkit-background-clip: text;
  margin-left: -32px;
  color: transparent;
  opacity: 0;
  transition: all 50ms ease-in-out;
}
.menusrestaurants .titlerestaurants .icone-Coeurvide1:hover .fa-solid:active {
  opacity: 1;
}

.menusrestaurants .platsRestaurants {
  margin-left: 10px;
  margin-right: 10px;
}
/*section Entrée*/
.platsRestaurants h4 {
  display: flex;
  justify-content: flex-start;
  border-bottom: solid 3px var(--color-tertiaire);
  padding-bottom: 5px;
  width: 50px;
  font-weight: lighter;
}

.plats {
  background-color: var(--color-body-origine);
  box-shadow: 1px 2px 1px #b4b4b4;
  max-width: 100%;
  height: 55px;
  border-radius: 20px;
  line-height: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  margin-right: 3px;
}
.plats-title-h3,
.plats-title-p {
  margin-top: 5px;
  padding-top: -5px;
  font-size: medium;
  line-height: 18px;
  padding-left: 10px;
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis; /* Opera < 10 */
  text-overflow: ellipsis;
  padding-bottom: -10px;
}
.plats .prixplats {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: -26px;
  padding-bottom: 10px;
  padding-right: 4px;
  padding-left: 4px;
}
.plats-valide .fa-check {
  display: none;
}
/*Bouton de commande*/
.btn-Explorerestaurants {
  display: block;
  width: 210px;
  height: 45px;
  background: linear-gradient(#ff79da, #9356dc);
  padding: 0 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0 0 10px #b4b4b4;
  text-align: center;
  text-decoration: none;
  padding-top: 12px;
  padding-left: 5px;
  padding-right: 5px;
  margin: 30px auto 0;
  border: none;
  border-radius: 50px;
}

.menusrestaurants,
footer {
  padding-top: 0;
  margin-bottom: -50px;
}
.Restaurants-cardsNew,
footer {
  padding-top: 0;
  margin-bottom: -50px;
}

/*Animation plats restaurants*/
.platsRestaurants:nth-child(2) h4 {
  animation-delay: 1.5s;
}
.platsRestaurants:nth-child(2) .plats > :nth-child(1) {
  animation-delay: 1.6s;
}
.platsRestaurants:nth-child(2) .plats > :nth-child(2) {
  animation-delay: 1.7s;
}
.platsRestaurants:nth-child(2) .plats > :nth-child(3) {
  animation-delay: 1.8s;
}
.platsRestaurants:nth-child(2) .plats > :nth-child(4) {
  animation-delay: 1.9s;
}
.platsRestaurants:nth-child(3) h4 {
  animation-delay: 2s;
}
.platsRestaurants:nth-child(3) .plats > :nth-child(1) {
  animation-delay: 2.1s;
}
.platsRestaurants:nth-child(3) .plats > :nth-child(2) {
  animation-delay: 2.2s;
}
.platsRestaurants:nth-child(3) .plats > :nth-child(3) {
  animation-delay: 2.3s;
}
.platsRestaurants:nth-child(3) .plats > :nth-child(4) {
  animation-delay: 2.4s;
}
.platsRestaurants:nth-child(4) h4 {
  animation-delay: 2.5s;
}
.platsRestaurants:nth-child(4) .plats > :nth-child(1) {
  animation-delay: 2.6s;
}
.platsRestaurants:nth-child(4) .plats > :nth-child(2) {
  animation-delay: 2.7s;
}
.platsRestaurants:nth-child(4) .plats > :nth-child(3) {
  animation-delay: 2.8s;
}
.platsRestaurants:nth-child(4) .plats > :nth-child(4) {
  animation-delay: 2.9s;
}
.platsRestaurants .menusPlatsContent .plats {
  font-family: "roboto";
  animation: animationPlats 0.8s backwards;
}
@keyframes animationPlats {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(0);
    transform: translateY(1%);
  }
}

.menusrestaurants .platsRestaurants .plats:hover .plats-valide {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-tertiaire);
  min-width: 60px;
  height: 76px;
  border-radius: 0 15px 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin-top: -73px;
  right: -62px;
  margin-right: 10px;
  transform: translateX(-62px);
  transition: transform 750ms ease;
}
.menusrestaurants .platsRestaurants .plats:hover .plats-valide i {
  transform: rotate(360deg);
  transition: transform 1000ms ease;
}
.menusrestaurants .platsRestaurants .plats:hover .fa-solid {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
  line-height: 18px;
  color: var(--color-tertiaire);
}
.menusrestaurants .platsRestaurants .plats:hover .prixplats {
  transform: translateX(-62px);
  transition: transform 750ms ease;
}
.menusrestaurants .platsRestaurants .plats:hover .fa-check {
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  background-color: #fff;
  padding-bottom: 0.5px;
}
/*Animation Plats restaurants*/
/*version css pages restaurants*/

/***************************************************************************************/
/**Media queries tablette + desktop page Accueil**/
@media only screen and (min-width: 1024px) {
  * {
    margin-right: 0;
  }
  .main-container {
    margin-right: 0;
  }
  .Fonctionnement .alignement .btnPaintMenu {
    width: 275px;
    padding: 15px;
  }

  .Fonctionnement .Orientationalignement {
    display: flex;
    justify-content: space-around;
    margin-left: 10px;
    margin-bottom: 50px;
  }
  .Fonctionnement h2 {
    display: flex;
    margin-left: 8%;
  }

  .alignement .btnPaintMenu {
    margin-top: 5px;
    margin-right: 10px;
  }

  .Fonctionnement .alignement .fa-store {
    color: var(--color-primary);
  }
  .Restaurants-cardsNew {
    display: flex;
    justify-content: center;
  }
  .Restaurants-cardsNew h2 {
    display: flex;
    margin-left: 8%;
  }
  .Restaurants-cardsNew .cards {
    margin-top: 100px;
  }
  .Restaurants-cardsNew .directionrCards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin-left: -180px;
  }
  .directionrCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
    padding-left: 15px;
    margin-left: 0;
  }
  .directionrCards .cards {
    margin-left: 20px;
  }

  .cards {
    width: 80%;
    height: 310px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .cards img {
    height: 250px;
  }

  .cards .boutonnouveau {
    margin-left: 325px;
    font-size: small;
    width: 70px;
    height: 20px;
  }

  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: medium;
    margin-right: 30px;
    font-family: "Roboto";
    width: 100%;
  }
  footer .imglogobas {
    width: 100px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 5px;
    margin-right: 15px;
    padding-top: 30px;
  }
  footer .footer-content {
    display: flex;
    align-items: flex-end;
    padding-top: 35px;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
    padding-top: 10px;
  }
}
/*desktop + tablette pages restaurants*/
@media only screen and (min-width: 1024px) {
  .headerrestaurants,
  .bodyrestaurants {
    margin-top: -5px;
  }
  .bodyrestaurants .menu-image {
    /* width: 100%;*/
    height: 30vw;
    object-fit: cover;
  }
  .bodyrestaurants {
    display: grid;
    justify-content: center;
    justify-items: center;
  }
  .menusrestaurants .titlerestaurants {
    font-family: "Shrikhand";
    font-weight: 300;
  }
  .menusrestaurants .titlerestaurants,
  .icone-Coeurvide {
    margin-left: 80px;
    height: 50px;
  }

  .menusrestaurants .titlerestaurants .icone-Coeurvide1 {
    float: left;
    margin-left: -160px;
    margin-right: 50px;
    font-weight: 300;
  }
  .menusrestaurants .titlerestaurants,
  .icone-Coeurvide1 {
    justify-content: space-evenly;
  }
  .menusrestaurants {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-top: -40px;
    width: 70%;
    height: 100%;
    padding: 40px;
  }
  .platsRestaurants {
    display: grid;
    align-items: center;
    width: 90%;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .menusrestaurants .platsRestaurants .plats:hover .plats-valide {
    margin-right: 0;
  }
  .plats-title-h3,
  .plats-title-p {
    margin-top: 5px;
    padding-top: 1px;
    font-size: medium;
    line-height: 11px;
    padding-left: 10px;
    overflow: visible;
  }
  .plats .prixplats {
    margin-top: -14px;
    padding-bottom: 10px;
    padding-right: 4px;
    padding-left: 4px;
  }
  .menusrestaurants .platsRestaurants .plats:hover .plats-valide {
    margin-top: -73px;
    right: -62px;
    margin-right: 2px;
  }
  .bodyrestaurants,
  footer {
    margin-bottom: 39px;
  }
  footer {
    margin-bottom: 0;
    margin-top: 0;
  }
}
