body{
  background-color: white;
}
body .logoposition {
    font-family: "Shrikhand";
  }
  body p {
    font-family: "Roboto";
  }
  body h1 {
    font-weight: bold;
  }
/*header homepage*/
header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
  }
  header .imglogohaut {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  header .searchcity {
    background-color: #D3D3D3 ;
    border-top: 4px solid black;
    width: 100%;
    height: 40px;
    position: relative;
    border: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 100;
    font-style: normal;
    color: black;
    margin: 0;
    padding: 0.75rem;
    font-size: medium;
}
header .searchcity .logoposition {
  margin-right: 10px;
  padding-top: 10px;
}
/*section réservation*/
.reservation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 350px;
  background-color: #F0F0F2;
  
}
.reservation .exploration .btn-Explorer {
  width: 350px;
  height: 50px;
  background-color: #9356DC;
  border-radius: 1.5em;
  padding: 10px 12px 10px 12px;
  color: white;
  font-size: large;
  text-decoration: none;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 30px
  
}
/*section fonctionnement*/
.Fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Fonctionnement .Title {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.Fonctionnement .chiffre {
  font-size: bold;
  color: white;
  background-color:#9356DC;
  text-align: center;
  border-radius: 100px;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  padding: 5px;
}

.Fonctionnement .btnPaintMenu {
  text-align: center;
  width: 250px;
  height: 50px;
  background-color:#F0F0F2;
  border-radius: 1.5em;
  padding: 10px 12px 10px 12px;
  font-size: medium;
  text-decoration: none;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 5px; 
  cursor: pointer;
}
.Fonctionnement i {
  margin-right: 8px;
}
/*.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  
}*/
/*section cards restaurants*/
.Restaurants-cardsNew {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 80px;
}

.Restaurants-title {
  justify-content: flex-start;

}
.Restaurants-title .title {
  font-size: large;
  font-weight: bold;
 
}

.directionrCards {
  display: flex;
  flex-direction: column;
  margin-left: -88px;

}

.cards {
  display:block;
  margin-right: 15px;
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 50px;
  width: 280px;
  height: 250px;
  margin-bottom: -35px;
 
}
.cards a {
  text-decoration: none;
}
.cards img {
  width: 100%;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.cards .card-content {
  justify-content: space-between;
  padding-left: 5px;
}
.cards .card-content .card-txt {
  height: 50px;
  color: black;
}
.cards .card-content .card-title {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: large;
  font-weight: bold;
  
}
.cards .card-content .card-subtitle {
  font-size: medium;
}
.cards .icone-Coeurvide {
  display: flex;
  float: right;
  width : 40px;
  height: 40px;
  margin-top : -40px;
  color : black;
}
/*footer*/
footer {
  display: flex;
  justify-content: space-around;
  margin-left: 4px;
  margin-top: 25px;
  background-color: rgb(63, 57, 57);
  color: white;
  width : 100%;
  height : 180px;
}
footer img {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
footer ul {
  justify-content: flex-start;
  padding-left: 20px;
}
footer li {
  list-style: none;
  padding-bottom: 10px;
}
footer i {
  margin-right: 8px;
}




