* {
  font-family: "Raleway", sans-serif;
}

:root {
  --color-primary: #9356dc;
  --color-secondary: #ff79da;
  --color-tertiaire: #99e2d0;
  --color-placeholder-header: #d3d3d3;
  --color-back-body: #e5e7e9;
  --color-police-text: #000;
  --color-body-origine: #fff;
  --color-header: #f0f0f2;
  --color-shadow: #85929e;
  --color-shadow-reservation: #cacfd2;
  --color-footer: #353434;
  --color-icones: grey;
  --color-texte-boutonnouveau: green;
  --color-footer: #353434;
  --color-loader-text: #1e90ff;
}
body,
.main-container,
footer {
  animation: opacitysite 2s linear forwards;
}
body {
  background-color: var(--color-body-origine);
  margin: 0;
}
body .logoposition {
  font-family: "Shrikhand";
}
body p {
  font-family: "Roboto";
}
body h1 {
  font-weight: bold;
}
/*loader chargement*/
.loader {
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: panorama 2s linear forwards;
  position: absolute;
}
.lettre {
  color: #484848;
  font-size: 80px;
  letter-spacing: 15px;
  margin-bottom: 150px;
  animation: flash 2s linear forwards;
}
@keyframes flash {
  0% {
    color: #9356dc;
    text-shadow: 0 0 7px #9356dc;
  }
  90% {
    color: #ff79da;
    text-shadow: none;
  }
  100% {
    color: #99e2d0;
    text-shadow: 0 0 7px #99e2d0;
    display: none;
  }
}
@keyframes panorama {
  0% {
    background-color: black;
  }
  90% {
    background-color: rgb(156, 132, 156);
  }
  100% {
    background-color: rgb(231, 231, 243);
  }
}
@keyframes opacitysite {
  0% {
    transform: opacity (0%);
  }
  40% {
    transform: opacity(45%);
  }
  80% {
    transform: opacity (85%);
  }
  100% {
    transform: opacity (100%);
  }
}
.lettre:nth-child(1) {
  animation-delay: 0.1s;
}
.lettre:nth-child(2) {
  animation-delay: 0.2s;
}
.lettre:nth-child(3) {
  animation-delay: 0.3s;
}
.lettre:nth-child(4) {
  animation-delay: 0.4s;
}
.lettre:nth-child(5) {
  animation-delay: 0.5s;
}
.lettre:nth-child(6) {
  animation-delay: 0.6s;
}
.lettre:nth-child(7) {
  animation-delay: 0.7s;
}
.lettre:nth-child(8) {
  animation-delay: 0.8s;
}
.lettre:nth-child(9) {
  animation-delay: 0.9s;
}
.lettre:nth-child(10) {
  animation-delay: 1s;
}
.fondu-out {
  opacity: 0;
  transition: opacity 10s ease-in-out;
}
/*loader*/
/*header homepage*/
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-header);
}
header .imglogohaut {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}
header .searchcity {
  background-color: var(--color-back-body);
  box-shadow: inset 0em 0.5em 0.5em var(--color-shadow);
  width: 100%;
  height: 40px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  font-weight: 100;
  font-style: normal;
  color: var(--color-police-text);
  margin: 0;
  padding: 0.75rem;
  font-size: medium;
}
header .searchcity .logoposition {
  margin-right: 10px;
  padding-top: 10px;
}
header,
.reservation {
  margin-top: 0;
}
/*section réservation*/
.reservation {
  width: 100%;
  height: 260px;
  background-color: var(--color-header);
  text-align: center;
}
.reservation .exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.reservation .exploration .titleexploration {
  font-size: medium;
}
.reservation .exploration .btn-Explorer {
  width: 230px;
  height: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 1.5em;
  padding: 10px 12px 10px 12px;
  color: var(--color-body-origine);
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 5px 3px 5px var(--color-shadow-reservation);
  text-align: center;
  padding-top: 8px;
  margin-bottom: 10px;
} /*# sourceMappingURL=homepage.css.map */
/*section fonctionnement*/
.Fonctionnement {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  margin-left: 10px;
  gap: 15px;
}
.Fonctionnement .Title {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-right: 100px;
}

.Fonctionnement .alignement .chiffre {
  position: absolute;
  z-index: 1;
  font-size: large;
  color: var(--color-body-origine);
  background-color: var(--color-primary);
  text-align: center;
  border-radius: 100px;
  margin-top: 15px;
  margin-right: 5px;
  width: 20px;
  height: 20px;
  padding: 1px;
}
.Fonctionnement .alignement .btnPaintMenu {
  position: relative;
  text-align: center;
  width: 260px;
  height: 50px;
  background-color: var(--color-header);
  color: var(--color-police-text);
  border-radius: 1.5em;
  border: none;
  padding: 10px 12px 10px 12px;
  font-size: medium;
  font-weight: bold;
  text-decoration: none;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 5px;
  margin-left: 15px;
  cursor: pointer;
}
.Fonctionnement .alignement i {
  margin-right: 15px;
  color: var(--color-icones);
}

/*.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
  
}
/*section cards restaurants*/

.Restaurants-cardsNew {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 80px;
  margin-left: 3px;
  width: 100%;
}

.title {
  display: flex;
  justify-content: flex-start;
  font-size: x-large;
  font-weight: bold;
}

.directionrCards {
  display: flex;
  flex-direction: column;
  margin-left: -130px;
  margin-top: 10px;
}
.cards {
  margin-right: 15px;
  background-color: var(--color-body-origine);
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  margin-top: 50px;
  width: 92%;
  margin-bottom: -35px;
  position: relative;
}
.cards img {
  width: 100%;
  height: 190px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}
.cards .boutonnouveau {
  margin-top: 15px;
  margin-left: 190px;
  padding-top: 1.5px;
  float: right;
  position: absolute;
  width: 80px;
  height: 25px;
  background-color: var(--color-tertiaire);
  color: var(--color-texte-boutonnouveau);
  text-align: center;
}
.cards a {
  text-decoration: none;
  cursor: pointer;
  color: var(--color-police-text);
}

.cards .card-content {
  justify-content: space-between;
  padding-left: 5px;
}
.cards .card-content .card-txt {
  height: 50px;
  color: var(--color-police-text);
}
.cards .card-content .card-title {
  height: 10px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-size: large;
  font-weight: bold;
}
.cards .card-content .card-subtitle {
  font-size: medium;
}
.cards .icone-Coeurvide {
  display: flex;
  float: right;
  width: 40px;
  height: 40px;
  margin-top: -40px;
  color: var(--color-police-text);
}
.cards .icone-Coeurvide fa-heart {
  color: var(--color-body-origine);
  background-color: var(--color-police-text);
  border-radius: 50%;
  padding: 0.2em;
}
.cards .icone-Coeurvide .fa-heart::before {
  content: "\f004";
  font-weight: bold;
  transition: color -0.2s ease-out;
}
.cards .icone-Coeurvide .fa-heart:hover::before {
  color: var(--color-primary);
  cursor: pointer;
} /*# sourceMappingURL=cardsrestaurants.css.map */
/*footer*/
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  margin-top: 50px;
  padding-right: 30px;
  background-color: var(--color-footer);
  color: var(--color-body-origine);
}

footer .imglogobas {
  width: 100px;
  height: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 160px;
}

footer .footer-content {
  flex-direction: column;
  margin-right: 100px;
}

footer .footer-content a:hover {
  text-decoration: none;
}
footer .list {
  margin-right: 25px;
}
footer ul {
  justify-content: flex-start;
  padding-left: 20px;
  width: 100%;
}

footer li {
  list-style: none;
  padding-bottom: 10px;
}
footer i {
  margin-right: 8px;
} /*# sourceMappingURL=footer.css.map */
/*************************************************************************/
/*VERSION CSS PAGE RESTAURANTS*/
.headerrestaurants {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.headerrestaurants .fa-arrow-left {
  float: left;
  padding-left: 10px;
  color: #000;
}
.headerrestaurants img {
  width: 100px;
  height: 30px;
  padding-right: 10px;
}
.bodyrestaurants .menu-image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 230px;
}
.bodyrestaurants {
  width: 100%;
}
.bodyrestaurants .img {
  width: 100%;
  height: 50px;
}
section .menusrestaurants {
  width: 100%;
  font-size: small;
}
.menusrestaurants {
  justify-content: center;
  position: relative;
  margin-top: -40px;
  background-color: var(--color-back-body);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: 100%;
  padding-bottom: 20px;
}
.menusrestaurants .titlerestaurants {
  font-size: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 12px;
  font-style: italic;
}
.menusrestaurants .titlerestaurants .icone-Coeurvide {
  width: 60px;
  float: right;
  padding-top: 25px;
  padding-left: 25px;
}

.menusrestaurants .platsRestaurants {
  margin-left: 10px;
  margin-right: 10px;
}
/*section Entrée*/
.platsRestaurants h4 {
  border-bottom: solid 2px green;
  padding-bottom: 5px;
  width: 50px;
  font-weight: lighter;
}
.choix-content {
  padding-top: 2px;
  padding-left: 4px;
  margin-bottom: 10px;
}
.plats {
  background-color: var(--color-body-origine);
  width: 100%;
  border-radius: 20px;
  line-height: 5px;
  margin-bottom: 20px;
}
.plats-title h3 {
  font-size: medium;
  padding-top: 15px;
  padding-left: 10px;
}
.plats-title p {
  margin-top: 4px;
  font-size: smaller;
  padding-left: 10px;
}
.prixplats span {
  float: right;
  margin-top: -18px;
  margin-right: 10px;
  font-size: small;
}
/*Bouton de commande*/
.btn-Explorerestaurants {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 30px;
  background: linear-gradient(#ff79da, #9356dc);
  border-radius: 1.5em;
  padding: 10px 12px 10px 12px;
  color: white;
  font-size: large;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 5px 3px 5px var(--color-shadow-reservation);
  text-align: center;
  padding-top: 8px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 60px;
}

.menusrestaurants,
footer {
  padding-top: 0;
  margin-bottom: -50px;
}
footer {
  position: bottom;
}

/*version css pages restaurants*/
/***************************************************************************************/
/**Media queries tablette + desktop**/
@media only screen and (min-width: 1024px) {
  * {
    margin-right: 0;
  }
  .main-container {
    margin-right: 0;
  }
  .Fonctionnement {
    display: flex;
    flex-direction: row;
  }
  .Fonctionnement .alignement {
    display: flex;
    flex-direction: row;
  }
  .Fonctionnement .Title {
    font-size: x-large;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-right: 50px;
  }

  .Restaurants-cardsNew {
    display: flex;
    justify-content: center;
  }
  .directionrCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    justify-content: flex-start;
  }
  .cards {
    width: 410px;
    height: 250px;
  }
  .cards .boutonnouveau {
    margin-left: 325px;
    font-size: small;
    width: 70px;
    height: 20px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    font-size: medium;
    padding-top: 50px;
    margin-right: 30px;
  }
  footer .imglogobas {
    width: 100px;
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 15px;
  }
  footer .footer-content {
    display: flex;
    align-items: flex-end;
  }
  footer ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 15px;
    padding-top: 10px;
  }
}
/*desktop pages restaurants*/
@media only screen and (min-width: 1024px) {
  .headerrestaurants {
    width: 100%;
    justify-content: space-around;
  }
  .headerrestaurants .fa-arrow-left {
    float: left;
    margin-left: -210px;
    width: 150px;
    color: #000;
  }
  .headerrestaurants img {
    margin-left: -200px;
    width: 150px;
    height: 35px;
  }

  .bodyrestaurants .menu-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  .bodyrestaurants {
    justify-content: center;
    align-self: center;
  }
  .menusrestaurants .titlerestaurants,
  .icone-Coeurvide {
    margin-left: 80px;
  }
  .menusrestaurants .titlerestaurants .icone-Coeurvide {
    margin-left: -200px;
  }
  .menusrestaurants {
    margin-left: 100px;
    margin-right: 100px;
    position: relative;
    margin-top: -40px;
    width: 70%;
    height: 100%;
    padding: 40px;
  }
  .platsRestaurants {
    align-items: center;
    width: 90%;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .btn-Explorerestaurants {
    width: 35%;
    height: 30px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
  }
}

/******************Media queries mobile********************/
@media only screen and (min-width: 768px) {
  /* .directionrCards {
    width: 100%;
  }
  .cards {
    width: 100%;
  }
  .cards img {
    height: 190px;
    object-fit: cover;
  }*/

  footer {
    align-items: center;
    padding: 25px 22px;
  }
  footer ul li {
    justify-content: center;
  }
}
