/*section réservation*/
.reservation {
  width: 100%;
  height: 260px;
  background-color: var(--color-header);
  text-align: center;
  .exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .titleexploration {
      font-size: medium;
      margin-right: 5px;
    }
    p {
      margin-top: 0px;
    }
    .btn-Explorer {
      width: 200px;
      height: 30px;
      background: linear-gradient(#ff79da, #9356dc);
      border-radius: 1.5em;
      padding-top: 12px;
      padding-bottom: 10px;
      padding-left: 5px;
      padding-right: 5px;
      color: var(--color-body-origine);
      font-size: medium;
      text-decoration: none;
      cursor: pointer;
      box-shadow: 5px 3px 5px var(--color-shadow-reservation);
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
