/*section réservation*/
.reservation {
  width: 100%;
  height: 260px;
  background-color: var(--color-header);
  text-align: center;
  .exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    .titleexploration {
      font-size: medium;
      margin-right: 5px;
    }
    p {
      margin-top: 0px;
    }
    .btn-Explorer {
      display: flex;
      justify-items: center;
      justify-content: center;
      width: 200px;
      height: 30px;
      border-radius: 1.5em;
      background: linear-gradient(#ff79da, #9356dc);
      padding: 10px 5px;
      color: var(--color-body-origine);
      font-size: medium;
      text-decoration: none;
      box-shadow: 5px 3px 5px var(--color-shadow-reservation);
      text-align: center;
      margin-bottom: 10px;
      cursor: pointer;
      &:hover {
        /*background: darken(#fff, 9%);*/
        background-color: white;
        opacity: 0.5;
      }
    }
  }
}
